# Core
flask
flask-cors
requests
numpy
opencv-python-headless

# YOLOv8
ultralytics

# PaddleOCR
paddleocr
paddlepaddle==2.6.1

# Gunicorn for production
gunicorn

# Optional: pin pip to avoid future issues
pip<25.3
