# Core
flask
flask_cors
requests
numpy
opencv-python-headless

# YOLOv8
ultralytics

# PaddleOCR
paddleocr
paddlepaddle

# For GPU info if needed (GPUtil)
GPUtil

# Optional: pin pip to avoid deprecation
pip<25.3
gunicorn
